{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            {% load static %}

            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid rounded shadow-sm">
            {% else %}
                <img src="{% static 'images/default-product.png' %}" alt="Нет изображения" class="img-fluid rounded shadow-sm">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <h3 class="text-primary">Цена: {{ product.price }} руб.</h3>
            <p><strong>Категория:</strong> {{ product.category.name }}</p>
            <p><strong>Дата создания:</strong> {{ product.created_at|date:"d.m.Y H:i" }}</p>
            <p><strong>Дата последнего изменения:</strong> {{ product.updated_at|date:"d.m.Y H:i" }}</p>
        </div>
       <div class="mt-4">
           <a href="{% url 'product_edit' product.pk %}" class="btn btn-warning me-2">Редактировать</a>
           <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger me-2">Удалить</a>
           <a href="{% url 'home' %}" class="btn btn-secondary">Назад к списку</a>
       </div>
    </div>
</div>
{% endblock %}
